[Desktop Entry]
Name=Package Manager
Name[da]=Pakke Håndtering
Name[de]=Paket-Manager
Name[es]=Administrador de Paquetes
Name[fr]=Gestionnaire de paquets
Name[hr]=Upravitelj paketa
Name[hu]=Csomagkezelő
Name[it]=Gestore di Pacchetti
Name[nl]=Pakketbeheer
Name[pl]=Menadżer Pakietów
Name[pt_BR]=Gerenciador de Pacotes
Name[ru]=Менеджер пакетов
Name[sr]=Менаџер пакета
Name[sv]=Pakethanteraren
Name[tr]=Paket Yöneticisi
Name[uk]=Керування пакунками
GenericName=Add/Remove/Update Packages
GenericName[da]=Tilføj/Fjern/Updatere Pakker
GenericName[de]=Hinzufügen/Entfernen/Aktualisieren von Paketen
GenericName[es]=Agregar/Remover/Actualizar Paquetes
GenericName[fr]=Ajout / Suppression / mise à jour de paquets
GenericName[hr]=Dodaj/ukloni/dopuni pakete
GenericName[hu]=Csomagok hozzáadása / eltávolítása /  frissítése
GenericName[it]=Aggiungi/Rimuovi/Aggiorna i Pacchetti
GenericName[nl]=Pakketten toevoegen/verwijderen/bijwerken
GenericName[pl]=Dodaj/Usuń/Uaktualnij Pakiety
GenericName[pt_BR]=Adicionar/Remover/Atualizar Pacotes
GenericName[ru]=Добавить/удалить/обновить пакеты
GenericName[sr]=Додај/Уклони/Надогради пакете
GenericName[sv]=Lägg till/ta bort/uppdatera paket
GenericName[tr]=Paket(ler)i Ekle/Kaldır/Güncelle
GenericName[uk]=Встановити/вилучити/оновити пакунки
Icon=package-manager
Type=Application
StartupNotify=False
MimeType=application/x-pisi;
Exec=pm-install %U
NoDisplay=true
